<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/static/main/bootstrap/js/bootstrap.js" rel="stylesheet">
    <link href="/static/main/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/main/css/navbar.css" rel="stylesheet">
    <script src="/static/main/js/navbar.js"></script>
    {% block title %} {% endblock %}
</head>
<body>
    <div class='nav'>
  <ul>
      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Туристический планеровщик</a></li>
    <li><a href="/users/me/" id="profilebtn">Профиль  <span class="glyphicon glyphicon-user"></span></a>
    <ul>
        <li><a href="/preference/" id="prefbtn" ><span class="glyphicon glyphicon-plane small">
        </span>Предпочтения</a></li>
        <li><a href="/preference/free"> <span class="glyphicon glyphicon-globe small">
        </span> Кооператив</a></li>
        <li><a href="/preference/add"> <span class="glyphicon glyphicon-plus small">
        </span> Добавить предпочтения</a></li>
        <li><a href="/users/me/edit" id="user_edit"><span class="glyphicon glyphicon-pencil small">
        </span>Редактировать</a></li>
    </ul>
    </li>
    <li class="pull-right"><a href="#" id="2q">
        <span class="glyphicon glyphicon-cog"></span></a>
        <ul>
            <li><a href="/users/login" id="loginbtn"><span class="glyphicon glyphicon-log-in small"></span>
                Вход</a></li>
            <li><a href="/users/logout/" id="logoutbtn"><span class="glyphicon glyphicon-log-out small"></span>
                Выход</a></li>
        </ul>
    </li>
    <li class='lamp'><span></span></li>
  </ul>
</div>
    {% block content %}{% endblock %}
</body>
</html>