<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/static/main/bootstrap/js/bootstrap.js" rel="stylesheet">
    <link href="/static/main/bootstrap/css/bootstrap.css" rel="stylesheet">
    {% block title %} {% endblock %}
</head>
<body>
    <nav class="navbar" style="background-color: #0f0f0f">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"> </span>
                </button>
                <a class="navbar-brand" href="/" style="color: white">Турестический путеводитель</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="pull-right"><a href="/users/login/" style="color: white">Вход</a></li>
                        <li class="pull-right"><a href="/users/logout/" style="color: white">Выход</a></li>
                        <li class="pull-right"><a href="/users/me/" style="color: white">Мой профиль</a></li>
                        <li class="pull-right"><a href="/preference/" style="color: white">Добавить интересы</a></li>
                    </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>