<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/static/main/bootstrap/js/bootstrap.js" rel="stylesheet">
    <link href="/static/main/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/main/css/navbar.css" rel="stylesheet">
    <script src="/static/main/js/navbar.js"></script>
    {% block title %} {% endblock %}
</head>
<body>
    <div class='nav'>
  <ul>
    <li><a href="/">Турестический планеровщик</a></li>
    <li><a href="/users/me/" id="profilebtn">Профиль</a>
    <ul>
        <li><a href="/preference/" id="prefbtn" >Предпочтения</a></li>
        <li><a href="/preference/add">Добавить предпочтения</a></li>
      </ul>
    </li>
    <li class="pull-right"><a class="navbar-brand" href="#"><img src="/static/images/door_icon.png"></a>
        <ul>
      <li><a href="/users/login/" id="loginbtn">Вход</a></li>
            <li><a href="/users/logout/" id="logoutbtn">Выход</a></li>
      </ul>
    </li>
    <li class='lamp'><span></span></li>
  </ul>
</div>
    {% block content %}{% endblock %}
</body>
</html>