{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" href="/static/main/css/main.css">
{% endblock %}

{% block content %}
    <div class="container img-back" >
    </div>
    <div class="row"><h1 class="text-center">Мир путешествий</h1></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12">
                <h3>Вам надоело сидеть дома?</h3>
                <p>
                    С помощью нашего сайта вы сможете выбрать множество различных мест, в которых
                    никогда не бывали.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12">
                <h3>Устали от работы и хотите отдохнуть?</h3>
                <p>
                    Здесь вам будет предложен огромный список отелей для отдыха.
                    Желаете найти скромный домик у моря или насладиться прекрасными городами мира?
                    Не беда, у нас найдётся, что вам предложить.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12">
                <h3>Не можете найти компанию?</h3>
                <p>
                    Создавайте событие, публикуйте его в "кооперативе" и находите себе идеальную пару
                </p>
            </div>
        </div>
    </div>
{% endblock %}