    {% extends "base.html" %}
    {% block title %}
        <link rel="stylesheet" href="/static/main/css/login.css">
    {% endblock %}
    {% block content %}
     <div class="container">
      <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
                <div class="container-fluid" style="font-size: 14pt">
                    <div class="container-fluid" style="font-size: 14pt">
                   <form class="transparent" method="post" action="login/add">
                     <div class="form-inner">
                        <h3>Авторизация</h3>
                         <label for="username">Логин пользователя</label>
                         <input type="email" name="login" required id="username">
                         <label for="password">Пароль</label>
                         <input id="password" name="password" required type="password">
                            <input type="checkbox" id="custom-checkbox">
                        <label for="custom-checkbox">Запомнить меня</label>
                        <input type="submit" value="Отправить">
                     </div>
                    </form>
                    <div class="row">
                        <p class="text-center"><a href="{{ url_for('users.register') }}">Нет аккаунта? Зарегистрируйтесь</a></p>
                    </div>
                </div>
                </div>
            </div>
          <div class="col-sm-2 col-md-2 col-lg-2"></div>
      </div>
  </div>
    {% endblock %}