  {% extends "base.html" %}
    {% block title %}
        <link rel="stylesheet" href="/static/main/css/login.css">
    {% endblock %}
    {% block content %}
 {% from "_formhelpers.html" import render_field %}
       <div class="container">
      <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
                <div class="container-fluid" style="font-size: 14pt">
                    <p class="container-fluid" style="font-size: 14pt">
                   <form class="transparent" method="post" action="register/add">
                     <div class="form-inner">
                        <h3>Регистрация</h3>
                         <label for="username">Имя пользователя</label>
                         <input type="text" id="username" name="username">
                         <label>Логин пользователя</label>
                         <input type="email" name="login" required id="login">
                         <label for="password" id="pass">Пароль</label>
                         <input id="password" name="password" required type="password">
                            <input type="checkbox" id="custom-checkbox">
                        <input type="submit" value="Отправить" id="submit_btn">
                     </div>
                    </form>
                        <p class="text-center"><a href="{{url_for('users.login')}}">Уже зарешистрированы? Авторизироваться</a></p>
                </div>
            </div>
      </div>
       </div>
    {% endblock %}
